<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('CDN/bootstrap.ejs') %>
</head>
<body>
    <%- include('Header/Home_Header.ejs') %>


    
    
    <%- include('Appointment_Form/Form.ejs') %>
    <%- include('chat/chat.ejs') %>
    <%- include('Footer/Home_Footer.ejs') %>
    <%- include('CDN/javascript.ejs') %>
</body>
</html>