<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('CDN/bootstrap.ejs') %>
</head>
<body>
    <%- include('Header/Home_Header.ejs') %>

    <div class="container mt-2 login_div_margin_bottom">
  <div class="row mt-3">
    <div class="col-md-4 offset-md-4 mt-3">

      
      <img src="../public/images/login-lady.png"
           class="img-fluid mx-auto d-block eyra-login-img"
           alt="Login">

      <!-- Card -->
      <div class="card eyra-login-card">

        <div class="card-header text-center eyra-login-header">
          <h3>Patient Login</h3>
          <p class="eyra-login-subtext">Access your health dashboard securely</p>
        </div>

        <div class="card-body">
          <form action="/login" method="POST">
            <div class="form-group mb-3">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email" name="email" required>

              <label for="password" class="mt-3">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>

            
            <button type="submit" class="btn mt-2 btn-primary w-100 eyra-login-btn">
              Login
            </button>

            <a href="/forgotpassword"
               class="d-block mt-3 text-center eyra-login-link">
              Forgot Password?
            </a>

            <a href="/register"
               class="d-block mt-2 text-center eyra-login-link">
              Don’t have an account?
            </a>
          </form>


          <% if(locals.msg) { %>
             <div class="text-center text-success mt-3 fw-semibold">
               <h5><%= msg %></h5>
             </div>
          <% } %>


        </div>

      </div>
    </div>
  </div>
</div>




    <% if(locals.useremail)
    {%>

        <script>
            document.getElementById("email").value='<%=useremail%>';
        </script>
    
    <% } %>


    <%- include('Appointment_Form/Form.ejs') %>
    <%- include('chat/chat.ejs') %>
    <%- include('Footer/Home_Footer.ejs') %>
    <%- include('CDN/javascript.ejs') %>
</body>
</html>