<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('CDN/bootstrap.ejs') %>
</head>

<body>
  <%- include('Header/Home_Header.ejs') %>

  <div class="container mt-2 login_div_margin_bottom">
    <div class="row mt-3">
      <div class="col-md-4 offset-md-4 mt-3 position-relative">

        
        <img src="../public/images/login-lady.png" class="img-fluid mx-auto d-block eyra-profile_complete-img" alt="Complete Profile">

        
        <div class="card eyra-profile_complete-card">

          
          <div class="card-header text-center eyra-profile_complete-header">
            <h3>Complete Your Profile</h3>
            <p class="eyra-profile_complete-subtext">
              Please provide the required details to continue
            </p>
          </div>

          
          <div class="profile_complete-card-body">

            <form action="/p_profile_complete" method="POST" enctype="multipart/form-data">

              <div class="form-group mb-3">

                <label for="mobile">Mobile Number</label>
                <input type="number" class="form-control" id="mobile" name="mobile" required>

                <label for="ayushcard" class="mt-3">Ayushman Card Number</label>
                <input type="text" class="form-control" id="ayushcard" name="ayushcard" required>

                <label for="dhistory" class="mt-3">Disease History</label>
                <textarea class="form-control" id="dhistory" name="dhistory" rows="3" required></textarea>

                <label for="userphoto" class="mt-3">Profile Photo</label>
                <input type="file" class="form-control" id="userphoto" name="userphoto" required>

              </div>

              <button type="submit" class="btn btn-primary w-100 mt-2 eyra-profile_complete-btn">Proceed</button>

            </form>

            <a href="/Patient_logout" class="d-block mt-3 text-center eyra-profile_complete-link">Logout</a>


            <% if(locals.msg) { %>
                <div class="text-center text-secondary mt-2 fw-semibold">
                   <h5><%= msg %></h5>
                </div>
            <% } %>


          </div>
        </div>

      </div>
    </div>
  </div>

  <% if(locals.useremail)
    {%>

        <script>
            document.getElementById("email").value='<%=useremail%>';
        </script>
    
  <% } %>

  <%- include('chat/chat.ejs') %>
  <%- include('Footer/Home_Footer.ejs') %>
  <%- include('CDN/javascript.ejs') %>
</body>
</html>
